
p{
    color: blue;
}
body{
 background-image: url("https://www.aurorahunter.com/_pix/800w/valley-of-light-salat.jpg");
 background-repeat: no-repeat;
background-size: cover;
}
.m1{
    color: mediumaquamarine;
}
.m2{
    color: rosybrown;
}
.n{
    color: brown;
}
.b{
    color:sandybrown;
}
.tr{
color: rosybrown;
}